<table class="table table-striped">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Shipping Address</th>
      <th>Billing Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <% unless order.order_products.empty? %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.billing_address %></td>
      <td><%= order.shipping_address %></td>
      <td><%#= order.status %></td>
    </tr>
    <% end %>
  <% end %>
  <tr id="total">
    <td></td>
    <td></td>
    <td>Total:</td>
    <td ><%= cart.total %></td>
    <td></td>
  </tr>
  </tbody>
</table>

