<h1>Awesome Categories.</h1>

<table id="categories" class="table table-striped table-bordered">
  <% @categories.each do |category| %>
    <tr>
      <td id="category_<%=category.id%>"><%= link_to category.name, admin_category_path(category) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add a category", new_admin_category_path, :id => "add_category", :class => 'btn btn-primary' %>