<div class="span3">
  <ul class="nav nav-list">
    <li class="nav-header">ADMIN</li>
    <% if active == :dashboard %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
      <a href="/admin/dashboard">Dashboard</a>
    </li>
    <% if active == :products %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
      <a href="/admin/products">Products</a>
    </li>
    <% if active == :categories %>
      <li class="active">
    <% else %>
      <li>
    <% end %>
      <a href="/admin/categories">Categories</a>
    </li>
  </ul>
</div>
