<h2>Name: <%= @category.name %>
<%= link_to "Edit", edit_admin_category_path(@category) %>
<%= link_to "Delete", admin_category_path(@category), method: :delete,
confirmation: "Delete category #{@category.name}?" %></h2>

Products:
<ul>
<% @category.products.each do |product| -%>
  <li><%= product.name %></li>
<% end -%>
</ul>
