<h2>Order placed!</h2>
<p><%= @order.email_address %></p>
<p>Shipped to:</p>
<p><%= @order.shipping_address %></p>
<p>Billed to: </p>
<p><%= @order.billing_address %></p>
<p>Total: </p>
<p><%= @order.total_price%></p>
