<h1>Dashboard</h1>

<ul id="users">

 <% @users.each do |user| %>
   <li>
    ID: <%= link_to user.id, user_path(user) %> <br />
    Email: <%= user.email %>
    Username: <%= user.user_name %>

   </li>

 <% end %>
</ul>