<% content_for :head do %>
<style type="text/css">
body { background-image: url(http://www.horizontalheavens.com/GarageWorkshop/WorkshopLayout/Workshop3_12-20-2010.jpg); }
div#homeForm { background: #fff; width: auto; float:left; padding: 12px 20px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
</style>
<% end %>
<div id="homeForm">
<h2>Register below:</h2>
<%= render :partial => 'form' %>
</div>