<% content_for :head do %>
<style type="text/css">
body { background-image: url(http://www.horizontalheavens.com/GarageWorkshop/WorkshopLayout/Workshop3_12-20-2010.jpg); }
div#homeForm { background: #fff; width: auto; float:left; padding: 13px 20px 20px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
form#new_user { margin: 0; }
  div.actions { margin-top: 5px; }
</style>
<script type="text/javascript">
$(function(){
  $('.dropdown form').on('click', function (e) {
    e.stopPropagation()
  });
});
</script>
<% end %>
<div id="homeForm">
<h2>Register below:</h2>
<%= render :partial => 'form' %>
</div>