#date= order.created_at

#date= order.status
- unless order.status == "returned" || order.status == "cancelled"
  = link_to "Mark as '#{order.next_transition}'", order_path(order), :method => :put, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-info'