- if order.status.pending?
  = link_to '[cancel]', status_order_path(order)
- elsif order.status.shipped?
  = link_to '[mark as returned]', status_order_path(order)
- elsif order.status.paid?
  = link_to '[mark as shipped]', status_order_path(order)