<div id="orders">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Order Id</th>
      <th>Shipping Address</th>
      <th>Billing Address</th>
      <th>Status</th>
      <th>Date Placed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <%= render :partial => "order", :collection => @orders %>
  <tr id="total">
    <td><%= @orders.count %></td>
    <td></td>
    <td>Total:</td>
    <td ><%= cart.total %></td>
    <td></td>
  </tr>
  </tbody>
</table>
</div>