<h1>Orders</h1>
<br />
<table class="table table-striped table-condensed" id="orders">
  <thead>
    <th>Order ID</th>
    <th>Created</th>
    <th>Products</th>
    <th>Total Price</th>
  </thead>
  <tbody>
      <% @orders.each do |order| %><tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= order.created_at %></td>
      <td><% order.products.each do |t| %>
            <%= t.title %>,
          <% end %></td>
      <td><%= order.total_price %></td>
      </tr><% end %>
  </tbody>
</table>