<%= render partial: '/users/user_navigation', :locals => { active: false } %>

<div class="span8">

  <h1>Order History</h1>
  <hr>
  <form action="<%= user_orders_path(current_user) %>" method="get" class="form-search">
    <input type="text" id="order-search" value="<%= params[:search] %>" name="search" class="input-medium search-query">
    <button type="submit" class="btn">Search</button>
  </form>

  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>Total</th>
      <th>Order Date</th>
      <th>Order Status</th>
    </thead>
    <tbody>
      <%= render partial: 'order', collection: @orders %>
    </tbody>
  </table>
</div>
