<h1>Why WholeEarth?</h1>
<p>
  WholeEarth stocks an eclectic mix of housewares, gifts, and clothing that reflect our deep commitment to sustainability. We want to connect people with the sources of the goods they buy and grow support for local craft and sustainable production. It's a step we're taking to support the planet and our local economy.
 </p> 

<h2>Our Commitment to Sustainability</h2>
<p>
  We use <a href="http://goodguide.com" target="blank"> GoodGuide</a> as a reference point for all of our products. You'll find each product's rating, linked with detailed information, on each product page. We're committed to providing only the best products and full transparency to each product's impact.
</p> 

<p>
  Our mission is to help consumers make purchasing decisions that reflect their preferences and values.  We believe that better information can transform the marketplace: as more consumers buy better products, retailers and manufacturers face compelling incentives to make products that are safe, environmentally sustainable and produced using ethical sourcing of raw materials and labor.  
</p>  

