<h1>Your Cart</h1>
<div id="cart">
  <ul>
    <% @cart.products.each do |product| %>
      <li><%= product.name %></li>
    <% end %>
  </ul>

  <p>Total items: <%= @cart.cart_count %></p>
  <p>Total cost: <%= @cart.cart_total %></p>
</div>