<h1>Your Cart </h1>

<div id="cart">

<div> <%= params.inspect %> </div>
<div> <%= session.inspect %> </div>

<% if cart.cart_products.any? %>
  <%= render :partial => "carts/cart_table" %>
<% else %>
  <p>Your cart is empty! Don't do Worace's Workshop like that. Go shop!</p>
<% end %>
<%= link_to "Continue Shopping", products_path %>