<h1>Your Cart</h1>
<div id="cart">
  <ul>
    <% @cart.cart_items.each do |item| %>
      <li><%= item.product.title %> | <%= item.quantity %> | <%= link_to "Edit Quantity", edit_cart_item_path(@cart.cart_items.count) %></li>
    <% end %>
  </ul>
</div>
