%h1 Your Cart
.row
  .span9
    %table
      %tr
        %th name
        %th quantity
      / - simple_form_for @products do |f|
      - @cart.products.each do |p|
        %tr{:id => "product_#{p.id}"}
          %td= p.name
          %td
          %td= link_to "Remove Item", cart_path(:product_id => p.id), :method => :delete, :confirm => "Are you sure?"
