<div class="admin-category-edit">
  <%= render partial: 'shared/admin_navigation', :locals => { active: false } %>

  <div class="span8">
    <h2><%= t 'categories.edit' %></h2>
    <hr>
    <%= render 'form' %>
  </div>
</div>
