<div class="admin-category-new">
  <%= render partial: 'shared/admin_navigation', :locals => { active: false } %>

  <div class="span8">
    <h2><%= t('categories.create') %></h2>
    <hr>
    <%= render 'form' %>
  </div>
</div>
