<% if product.status == 'active' %>
  <li>
    <%= link_to 'Retire', retire_admin_product_path(product), :method => :post %>
  </li>
<% elsif product.status == 'retired' %>
  <li>
    <%= link_to 'Activate', activate_admin_product_path(product), :method => :post %>
  </li>
<% end %>
