<h1>Admin Products View</h1>

<div class="row">
 <div class="span12">
   <ul class="nav nav-pills">
     <h4>Categories:</h4><br />
     <%= render :partial => "categories/category", :collection => @categories %>
     <li><%= link_to 'New Category', new_admin_category_path %></li>
   </ul>
 </div>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Photo</th>
    <th>Categories</th>
    <th>Buy it!</th>
    <th>Retire it!</th>
  </tr>

<%= render :partial => "product_table", :collection => @products %>

</table>

<%= link_to 'New Product', new_admin_product_path %>



