<div id="admin_bar">
<h4 id="add_link">This is the admin-only products index. You can also <%= link_to "Add a product", new_product_path %></h4>
</div>
<% if @active.any? %>
  <%= render :partial => "active_products" %>
<% end %>
<% if @retired.any? %>
  <%= render :partial => "retired_products" %>
<% end %>