/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  font-family: Tahoma, sans-serif;
}


/*CSS for the products divs on the home page */
.products {
  float: left;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

/* For the Shopping Cart Show Page*/
#shopping_cart_summary {
  float: right;
}



