// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.signup-form {
  margin: 30px;
}

.user-index {
  margin: 30px;
}

.rating-index {
  margin: 30px;
}

.rating-edit {
  margin: 30px;
}