<p id="add_category">
  <%= link_to "Add a category", new_category_path %>
</p>
<div id="categories">
  <% @categories.each do |category| %>
    <p class="category" id="category_<%= category.id %>">
      <%= link_to category.name, category_path(category) %>
    </p>
  <% end %>
</div>