<h1><%= @category.name %></h1>

<h3>Here are the products assigned to <%= @category.name %></h3></br />
<div class="row">
  <ul class="thumbnails">
    <%= render :partial => "products/product", :collection => @products %>
  </ul>
</div>