<h1><%= @category.name %></h1>

<h3>Here are the products assigned to <%= @category.name %></h3></br />
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Photo</th>
    <th>All categories</th>
    <th>Buy it!</th>
  </tr>

<%= render :partial => "products/product", :collection => @products %>

</table>