<% if notice %>
  <div class="alert alert-info">
    <p id="notice"><%= flash.now[:notice] %></p>
  </div>
<% end %>
<div id="intro">
  <h2><%= @category.name %></h2>
</div>
<% if @category.products.any? %>
<div class="row-fluid">
  <%= render :partial => "category_product", :collection => @category.products %>
</div>
<% end %>