<h1>Category: <%= @category.name %></h1>

<p>This will be a list of all products with the category "<%= @category.name %>"</p>

<p><%= link_to "All Categories", categories_path, :title => "back to all categories" %>