<li>
  <%= gravatar_for user %>
  <%= link_to user.display_name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", admin_user_path(user), method: :delete, :confirm => "Delete \"#{user.name}\"?" %>
  <% end %>
</li>