<script>
$('#add_to_cart').addClass('disabled').click(function() { return false; });
</script>
<ul class="thumbnails">
  <div class="row" style="margin-bottom:20px">
   <%= render :partial => @product %>
    <li class="span8">
      <h1><%= @product.name.capitalize %></h1>
      <h4>Description:</h4><br />
      <%= @product.description %>
      <br />
      <br />
      <br />
      <%= link_to 'Back to products', products_path, :class => "btn" %>
    </li>
  </div>
</ul>
