<a href="<%= product_path(product) %>" >
  <div class="products">
    <h3><%= product.title.capitalize %></h3>
    <h5>Description:</h5>
    <p> <%= product.description %>
    <h5>Price: $<%= product.price %></h5>
    <br />
  </div>
</a>
