<div id="products_intro">
<h2>Our Products</h2>
<% if logged_in? && current_user.is_admin? %>
<p id="add_link"><%= link_to "Add a product", new_product_path %></p>
<% end %>
</div>
<div id="products">
  <div class="row-fluid">
  <% @products.each do |product| %>
    <div class="product span4" id="product_<%= product.id %>">
      <div class="product_container">
        <div class="product_title">
          <h3><%= link_to product.title, product_path(product) %></h3>
        </div>
        <div class="product_image">
          <%= image_tag product.image_url(:thumb).to_s if product.image? %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>