<div id="products_intro">
<h2>Our Products</h2>
<% if logged_in? && current_user.is_admin? %>
<p id="add_link"><%= link_to "Add a product", new_product_path %></p>
<% end %>
</div>
<div id="products">
  <% if @products.any? %>
    <%= render :partial => "products_row" %>
  <% else %>
    <p>Worace is busy making products!</p>
  <% end %>
</div>