h1 Products

table class="table table-striped"
  tr
    th Name
    th Price

  - @products.each do |product|
    tr
      td = link_to product.title, product_path(product)
      td = product.price


= link_to "Create new product", new_product_path, :class => 'btn btn-mini'
