<h1>Products</h1>

<div>
  <div id="products">
    <%= will_paginate %>
    <% @products.each do |product| %>
      <% if product.active? %>
        <%= render product %>
      <% end %>
    <% end %>
  </div>
  <%= will_paginate %>
</div>