%h2 Products
%hr
  .row
    .span10
      = render 'search/search', :value => ''
      = render 'products/list', :products => @products
    .span2
      %h4 Categories
      %br
      = render 'categories/list', :categories => @categories
