<h1>Products</h1>

<table id="products" class="table table-striped">
  <tr>
    <th>Product</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= link_to product.title, product_path(product) %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Add a product", new_product_path, :id => "add_product", :class => 'btn btn-primary' %>