

<h1>Welcome, Customer!</h1>

<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select a Product Category</a>

  <p> Currently Showing: #CategoryNameGetsPopulatedHere </p>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a href="#">Show All</a></li>
    <% unless @categories.nil? %>
      <% @categories.each do |category| %>
      <li><a href="#"><%= category.title %></a></li>
      <% end %>
    <% end %>

  </ul>
</div>

<hr>

<% @products.each do |product| %>
  <div class="products">
    <h4>Product Title</h4>
    <p> <%= product.title %> </p>
    <h5>Description:</h5>
    <p> <%= product.description %>
      <h6>Price: $<%= product.price %></h6>
  </div>

<% end %>
