<h1>Shop</h1>

<div class="row">
  <div class="span12">
    <ul class="nav nav-pills">
      <h4>Browse by category:</h4><br />
      <%= render :partial => "categories/category", :collection => @categories %>
    </ul>
  </div>
</div>


<div class="row">
  <ul class="thumbnails">
    <%= render :partial => "product", :collection => @products %>
  </ul>
</div>

