<h1>test</h1>

<ul id="products">
 <% @products.each do |product| %>
   <li>
   <%=link_to product.title, product_path(product) %>
   </li>
 <% end %>
</ul>

<%= link_to "New product", new_product_path, :id => "new-product",  :class => "new_product"%>