Title: <%= @product.title %>
<br>
Description: <%= @product.description %>
<br>
Categories:
<br>
<% @product.categories.each do |category| %>
<%= category.title %><br>
<% end %>
<br>
Price: <%= @product.price %>
<br>
<a class="btn btn-medium" href="#">
  <i class="icon-shopping-cart"></i>Add To Cart
</a>
