 <h1><%= @product.title %></h1>
<p>
 <%= @product.description %>
</p>

<%= link_to "add to cart", cart_path(:product_id => @product), :method => :put  %> |
<%=link_to "back to all products", products_path, :id => "products-index", :class => "link" %>



 