#footer 
  &copy; eHipster Inc.
  Produced by 
  = link_to "Mike Silvis", "http://mikesilvis.com"
  & 
  Nisarg Shah
  .pull-right= link_to "Our Baller Logo Bigger", "/baller_logo"
= render :partial => 'layouts/cart'