<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Worace's Workshop", root_url, :class => "brand" %>
      <div class="nav-collapse">
        <% if logged_in? %>
          <%= render :partial => 'layouts/mobile_in' %>
        <% else %>
          <%= render :partial => 'layouts/mobile_out' %>
        <% end %>
      </div>
    </div>
  </div>
</div>