#header
  %a{:href => "/"}
    %img#logo{:alt => "Living Social Logo", :src => "/assets/logo.png"}
%nav.main
  = link_to "Home", root_path
  - if current_user and current_user.admin
    %a{:href => dashboard_path} Dashboard
  - if current_user
    %a{:href => logout_path } Logout
  - else  
    %a{:href => login_path } Login
  #search
    = render 'search/search', :value => params[:q] || ""